@page
@model ToDelete.Areas.Identity.Pages.CRUD.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TableOne</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableOne.HowTo" class="control-label"></label>
                <input asp-for="TableOne.HowTo" class="form-control" />
                <span asp-validation-for="TableOne.HowTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableOne.Line" class="control-label"></label>
                <input asp-for="TableOne.Line" class="form-control" />
                <span asp-validation-for="TableOne.Line" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableOne.Plataform" class="control-label"></label>
                <input asp-for="TableOne.Plataform" class="form-control" />
                <span asp-validation-for="TableOne.Plataform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
