@model ScrumPokerPlanning.Models.JiraIssue
<div class="sessionHeader">

    <div class="row">
        <div class="col-md-2 title">Identification</div>
        <div class="col-md-6 title">Summary</div>
        <div class="col-md-2 title">Date</div>
        <div class="col-md-2 title">Import</div>
    </div>

    <hr class="separatorHead">

    @foreach (var item in Model.issues.OrderByDescending(x => x.fields.created))
    {
        <div class="row ColumnsOfTable">
            <div class="col-md-2"> @item.key </div>

            <div class="col-md-6"> @item.fields.summary</div>

            <div class="col-md-2"> @item.fields.created.ToLocalTime()</div>

            <div class="col-md-2">
                <input name="AreChecked" type="checkbox" value="@item.key" /> <br />                
            </div>
        </div>

        <hr class="separator">
    }


</div>
