@using ScrumPokerPlanning.Areas.Identity.Pages
@model List<UsersVoting>

<div class="row">
    <div class="col-md-6">User</div>
    <div class="col-md-4">Status</div>
    <div class="col-md-2">Vote</div>
</div>
<hr class="separatorHead">

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6">@item.UserName</div>

        @{
            if (@item.Status)
            {
                <div class="col-md-4" style="padding-left:0px;">
                    <div class="buttonStatus" style="background-color:lightgreen">
                        Voted
                    </div>

                </div>
            }
            else
            {
                <div class="col-md-4" style="padding-left:0px;">
                    <div class="buttonStatus" style="background-color:lightcoral">
                        Waiting
                    </div>
                </div>
            }
        }

        @if (item.FullVoted)
        {
            <div class="col-md-2">
                @item.Vote
            </div>
        }
        else
        {
            <div class="col-md-2">
                
            </div>
        }


    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="separator">
        </div>
    </div>


}