@page
@model ActiveList

@{
    ViewData["Title"] = "Active Sessions";
    Layout = "~/Areas/Identity/Pages/_PlanningCreateLoginLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">

        <h4>Planning Sessions For that User: </h4>

        @{
            foreach (var item in @Model.PlanningSessionList)
            {
                <h4>@item.Description</h4>
            }
        }
        <div>
            <a asp-page="Index">Back to List</a>
        </div>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
