@page "{handler?}"
@model ScrumPokerPlanning.PartialCar.AjaxPartialModel

@{
    ViewData["Title"] = "LALALLAA";
}

<h1>@ViewData["Title"]</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
