@page
@model JiraIntegrationModel
@{
    ViewData["Title"] = "Jira Integration";
    ViewData["ActivePage"] = ManageNavPages.JiraIntegration;
    Layout = "_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="jira-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.JiraWebSite"></label>
                <label style="color:blue">Example : https://YourWebSite.atlassian.net</label>
                <input asp-for="Input.JiraWebSite" class="form-control" />
                <span asp-validation-for="Input.JiraWebSite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.JiraEmail"></label>
                <input asp-for="Input.JiraEmail" class="form-control" />
                <span asp-validation-for="Input.JiraEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.JiraKey"></label>
                <input asp-for="Input.JiraKey" class="form-control" />
                <span asp-validation-for="Input.JiraKey" class="text-danger"></span>
            </div>


            <button id="update-jira-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}