@{
    ViewData["Title"] = "Home Page";
    var b = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT"); 
}

<div class="text-center">
    <h1 class="display-4">Welcome 5 - new branch @b</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
