/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.pricing-header {
  max-width: 700px;
}

.border-top {
  border-top: 3px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-color:olivedrab;*/  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;  
  white-space: nowrap;
  overflow:hidden;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.card-content
{
   margin:10px;       
}
.row {
	/*min-height: 300px;*/
	/*background-color:yellow;*/

	/*border-width: 1px;
	border-style: solid;
	border-color: yellow;*/
}

/*

.col-md-12, .col-md-10, .col-md-8, .col-md-6, .col-md-4, .col-md-2, .col-md-1
{	
	
	border-width:1px;
	border-style:solid;
	border-color:green;	
	
}

form {
	border-width: 12px !important;
	border-style: solid !important;
	border-color: red !important;
}
*/
.pad-minus-15{
	padding:0px!important;
}

.ColumnsOfTable
{
	/*background-color:rgba(200,0,0,0.125);*/
	margin-bottom: 2px;
}
.buttonStatus
{ 
   border-radius: 1rem;	   
   margin: 5px 0px 5px 0px;
   padding: 0px 10px 0px 10px;
   width: fit-content;
}
.buttonStatus2 {
	border-radius: 1rem;
	margin: 0px 0px 0px -15px;
	padding: 0px 10px 0px 10px;
	width: fit-content;
}
.separator
{	
	margin-top:0px!important;
	margin-bottom:0px!important;
}
.separatorHead
{	
	margin-top:0px!important;
	margin-bottom:0px!important;
	border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.title
{
	 font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:700);

.scrum-card {
	position: relative; 
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	border: 1px #000 solid;
	border-radius: 10px;
	margin: 0 auto;
	padding: 0;
	width: 100px;
	height: 150px;
	line-height: 150px;
	white-space: nowrap;
	text-align: center;
}
.cardSelected {
	background-color: #00a1ff7d;
}

.cardSelectedOld {
	background-color: #4bff007d;
}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.EmptyMessage {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

.NoRowMargin {
	margin-right: -15px;
	margin-left: -15px;
}


.button {
	display: block;
	width: 115px;
	height: 25px;
	background: #4E9CAF;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	line-height: 25px;
}

.sessionHeader {
	padding: 15px;
	margin: 5px;
	/*background-color:ghostwhite;*/
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,0.125);
	background-color: white;
}


.sessionHeaderIntern {
	/*background-color: ghostwhite;*/
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,0.125);
	background-color: white;
}


.HeaderAndFooter {
	/*background-color: aliceblue!important;*/
}

.container {
	max-width: 960px;	
}

.MainContent {
	/*background-color: brown !important;*/
	/*background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Simple-White-Pattern-Background-Image.jpg");*/
	/*background-image: url("https://png.pngtree.com/png-clipart/20190612/original/pngtree-falling-poker-cards-png-image_3288374.jpg");*/
	/*background-image: url("https://st.depositphotos.com/1113140/4007/v/950/depositphotos_40076827-stock-illustration-white-striped-background.jpg");*/
	/*background-image: url("https://i.pinimg.com/originals/a0/8d/85/a08d8504f92b47ba60d9302086037d60.jpg");*/
	/*background-image: url("https://cdn131.picsart.com/327759259010201.png?type=webp&to=min&r=480");*/
	/*background-image: url("https://media.istockphoto.com/vectors/paper-art-cartoon-abstract-waves-paper-carve-background-vector-id923062454?b=1&k=6&m=923062454&s=612x612&w=0&h=-hb5gCh-35tmATtcM1YNNswh_WkQBUOVEmdkp8qG28s=");*/
	/*background-image: url("https://img.freepik.com/vetores-gratis/linhas-pretas-fluidas-abstratas-sobre-fundo-branco_1017-28780.jpg?size=626&ext=jpg");*/
	/*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkpla4eiiLM8x7KJNszV6h9Az624CR2VcMgS16hMuM5xPV4pkOaWBitiHLiNiiWqAp700qlwr4PeNVyDLCXE2KaRd11gR7ED8&usqp=CAU&ec=45732300");*/
	background-image: url("https://c4.wallpaperflare.com/wallpaper/844/199/784/christmas-tree-3d-graphics-wallpaper-preview.jpg");
	background-size: cover; /* Resize the background image to cover the entire container */
	/*background-image: linear-gradient(120deg, #f5f7fa 0%, #c3cfe2 100%);*/
}

.containerPoker {
/*	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,0.125);
*/	
	padding:10px;
}


